//-
	主页设置了静态资源路径为public，则这里设置public 下的路径从 /libs 开始就可以了
link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
